<div class="login-container">
    <h2>Ingrese a la tienda de AQ</h2>
    <form action='/api/users/login' method='post' class="login-form">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required>

        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Ingresar</button>
    </form>

    <a class="login-signup-link" href="/views/signup">¿No tienes cuenta? Crea una</a>
</div>

