<h2>Agregar Producto</h2>

<form id="form">
    <input type="text" id="title" placeholder="Nombre"> 
    <input type="text" id="description" placeholder="Descripcion">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="thumbnail" placeholder="Imagen">
    <input type="number" id="code" placeholder="Codigo">
    <input type="number" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoria">
    <input type="submit" value="Agregar Producto">
</form>

<h3>Productos</h3>
<div id="products-container" style="display:flex;flex-wrap:wrap;justify-content:center;gap:50px">    

</div>



<script src='/socket.io/socket.io.js'></script>
<script src='js/index.js'></script>